* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "DM Sans","sans-serif";
  font-size: 1.4rem;
  line-height: 2rem;
  color: #3f3c3c; }

a {
  color: #3f3c3c; }

.topnav {
  height: 5rem;
  border-bottom: 1px solid rgba(63, 60, 60, 0.2);
  background-color: #fff; }
  .topnav__logo a img {
    height: 4.8rem; }
  .topnav__menu {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase; }
    .topnav__menu-list {
      list-style-type: none;
      margin-bottom: 0; }
    .topnav__menu-list-item {
      vertical-align: bottom;
      display: inline-block; }
    .topnav__menu-list-item-link {
      text-decoration: none;
      padding: 0 1rem; }

.context-aspect {
  padding-top: 45%;
  position: relative; }

.background-image-responsive {
  width: 100%;
  background-image: url(../../images/landingpage/banner2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.context-object {
  position: absolute;
  top: 60%;
  width: 100%; }

.text-container {
  margin: 0 8rem;
  padding: 0 3rem; }

.t-section-hdl {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700; }

.start-home__section {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem; }

.lp-img-height {
  height: 16rem; }

.start-categories__context-aspect {
  padding-top: 85%;
  position: relative; }

.background-image-responsive-categories {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .background-image-responsive-categories--wc {
    background-image: url(../../images/categories/woundcare/woundcare.jpg); }
  .background-image-responsive-categories--pp {
    background-image: url(../../images/categories/personalprotection/personalprotection.jpg); }
  .background-image-responsive-categories--pc {
    background-image: url(../../images/categories/personalcare/personalcare.jpg); }
  .background-image-responsive-categories--er {
    background-image: url(../../images/categories/examroom/examroom.jpg); }

.start-categories__context-object {
  position: absolute;
  top: 50%;
  width: 100%; }

.carousel-item img {
  width: 30%;
  margin: auto;
  height: auto; }

.context-aspect-medprefer {
  padding-top: 25%;
  position: relative; }

.context-object-medprefer {
  position: absolute;
  top: 340%;
  width: 100%; }

.text-container-medprefer {
  margin: 0 8rem;
  padding: 0 3rem; }

.background-image-responsive-medprefer {
  width: 100%;
  background-image: url(../../images/landingpage/ecommerce.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.start-footer__section {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem; }

.footer-body {
  font-family: "DM Sans","sans-serif";
  font-size: 1rem;
  line-height: 1.2rem;
  color: white; }
